@article_width: 240px;
@article_margin: 15px;

* {box-sizing: border-box;}
body {
    background: #D9DCDD;
    color: #cdcdcd;
    font-size: 18px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    /*width: 1920px;
    height: 1080px;*/
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
   color: #888;
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1, h2, h3 , h4 {
    font-weight: 300;
}
ul,li {
    margin: 0; padding: 0;
}
body {
    
    #container {

        header {

            .nav {
                height: 31px;
                background: #000;
                width: 100%;
                ul {
                 width: 960px;
                 margin: 0 auto;
                }

                a {
                        line-height: 31px;
                        float: left;
                        font-size: 13px;
                        color: #9B9B9B;
                }
                &.primary-nav {
                    background: #6C6D6E;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        #main-content {

        }
        #page-footer {

        }
    }
}
